<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-card class="dashboard-card">
            <div class="general">
                <div class="conta1">
                    <a href="#"><i class="fa-solid fa-photo-film" style="color: white;"></i></a>
                    <h1>$500.00 <i class="fa-solid fa-arrow-up"></i></h1>
                    <p>Total Earning</p>
                </div>
                <div class="conta2">
                    <a href="#"><i class="fa-solid fa-bag-shopping" style="color: white;"></i></a>
                    <h1>$500.00 <i class="fa-solid fa-arrow-down"></i></h1>
                    <p>Total Order</p>
                </div>
                <div class="conta3">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, voluptatibus.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, voluptatibus.</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-grid-list>
</div>