.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

mat-toolbar i{
  margin-right: 7px;
}

mat-nav-list{
  margin-left: 15px;
}

mat-nav-list h5{
  font-weight: bold;
  font-size: 13px;
}

a{
  opacity: 0.7;
}

a:hover{
  opacity: 1;
}

.title{
  margin-top: 20px;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a{
  color: white;
}

input{
  padding: 12px;
  border-radius: 15px;
  background-color: rgb(211, 211, 211);
  border: solid 2px rgb(211, 211, 211);
  width: 550px;
}